body{
    background-color: dimgray;
    

}

#segundo-elemento{
    font-family: cursive;
}

a{
    background-color: rgb(113, 175, 59);
    transition-duration: 0.5s;
    display: flex;
    justify-content: space-around;

}

a:hover{
    background-color: rgb(67, 189, 148);
}

section{
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

div{
    width: 400px;
    height: 400px;
    background-color: darkseagreen;
    border: 3px solid black
    
    }

.primero{
    display: flex;
    border-radius: 10%;
    background-color: rgb(119, 119, 214);    
    flex-direction: column;
    align-items: center;
    padding: 3%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.segundo{
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(150, 81, 81);
    padding: 3%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;

    }

.tercero{
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color: rgb(216, 135, 12);
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;

}


.cuarto{
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color: rgb(86, 86, 29)
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;

}


#Bienvenidos{
    background-color: rgb(99, 99, 248);
}